<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
    <title>Home</title>
<!-- CSS -->

</head>
    <style>
    #main-footer
    {
      color: #FFFFFF;
      font-family: "Segoe UI";
      background: #2B2B2B;
      text-align: center;
      margin-top: 108px;
      padding: 16px;
      bottom: 8px;
    }</style>
<body class="bg_nav">

  <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container"
    >

      <a class="navbar-brand mr-4" href="/">PLANT LEAF DISEASE PREDICTION</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/about">About</a>
          <a class="nav-item nav-link" href="/Potato">Potato</a>
          <a class="nav-item nav-link" href="/Pepper">Pepper</a>
          <a class="nav-item nav-link" href="/Rice">Rice</a>
        </div>
      </div>
    </div>
  </nav>
</header>

  <div 
  class= "container"
    style="
    background-image: url('https://raw.githubusercontent.com/codebasics/potato-disease-classification/main/frontend/src/bg.png');
    height: 100vh;
  "
  >
       <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
  </div>

    <h3 style = 'color:black'> Details </h3>
    <p>Welcome to the home page of the app.</p>
    <p>This is an application of deep learning ,meant to be employed in the remote and the downtrodden area.
      <h3 style = 'color:black'> Overview</h3>
      Owing to changing climatic conditions, crops often get affected, as a result of which agricultural yield decreases drastically. If the condition gets worse, crops may get vulnerable towards infections caused by fungal, bacterial, virus, etc. diseases causing agents.The method that can be adopted to prevent plant loss can be carried out by real-time identification of plant diseases.<p>
        <p>Plant Disease Detection is one of the major issue that exits when we talk about using Technology in Agriculture. This application shows how neural networks can be used for plant disease recognition in the context of image classification.
        </p>
        <hr>
    </p>
    <h3 style = 'color:black'> Application</h3>
    <ul>
      <li>To build an automatic system for leaf disease detection as the disease can not solely be detected by naked eye.</li>
      <li>To help out farmers to easily detect if the plant is infected or not.</li>
      <li>To help people to detect plant disease causing agent to take necessary precautions.</li>
      <li>To extend the role of the technology in the Agriculture field</li>
    </ul>
    <h2 style = 'color:black'> Creator</h2>
    <p>Neethu Ignacious</p>


  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
<footer id="main-footer">
      Copyright &copy; 2022
    </footer>
</body>
</html>
